version: 2.1

executors:
  default:
    machine: true
    environment:
      DOCKER_IMAGE_IDX: phosphene47/nhitomi:latest
      DOCKER_IMAGE_DISCORD: phosphene47/nhitomi-discord:latest

jobs:
  test-idx:
    executor: default
    steps:
      - checkout
      - run: docker run -d --net=host -e bootstrap.system_call_filter=false -e transport.host=localhost elasticsearch:7.6.0
      - run: docker run -d --net=host redis:latest

      - run: chmod +x scripts/wait-for-it.sh && scripts/wait-for-it.sh -t 100 localhost:9200
      - run: docker run --net=host -it $(docker build -q -f Dockerfile.idx-test .)

      - run: docker kill $(docker ps -q)

  deploy-idx:
    executor: default
    steps:
      - checkout
      - run: docker build -t $DOCKER_IMAGE_IDX -f Dockerfile.idx .
      - run: echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      - run: docker push $DOCKER_IMAGE_IDX

  deploy-discord:
    executor: default
    steps:
      - checkout
      - run: docker build -t $DOCKER_IMAGE_DISCORD -f Dockerfile.discord .
      - run: echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      - run: docker push $DOCKER_IMAGE_DISCORD

workflows:
  version: 2
  default:
    jobs:
      - test-idx
      - deploy-idx:
          requires:
            - test-idx
          filters:
            branches:
              only: deploy
      # - deploy-discord:
      #     filters:
      #       branches:
      #         only: deploy
