html {
  font-size: 15px;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;

  /** required basic theme when missing the main theme stylesheet (bootstrap phase) */
  color: #fcfcfc;
  background-color: #18171a;
}

*:focus:focus {
  /* https://stackoverflow.com/questions/61971404/how-to-remove-black-border-from-option-when-hover-in-chrome-83 */
  outline: none;
}

.anticon {
  vertical-align: middle;
}

.display-contents {
  display: contents;
}

.transform-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
